h4 {
    text-align: center;
}
#red {
    background-color: red;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}
.imagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}
#banner{
    background-color: blue;
    height: 100px;
}