body{
    height: 1200px;
    background: #696969;
    overflow-x: hidden;
}

h1{
    color: white;
    text-align: center;
    margin: 20px;
    text-shadow: 2px 2px black;
}


div.gif_box{
    border: 2px solid black;
    box-shadow: 2px 2px 2px grey;
    background: grey;
}

.reaction, .reaction_two{
    padding-top: 10px;
    height: 250px;
    width: 250px;
    margin: auto;
    display: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.middle_of_page{
    margin-top: auto;
}

div.second_box{
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px grey;
}

.button_placement{
    margin-top: 20px;
    text-align: center;
}

.my_button{
    background: black;
    color: white;
    padding: 15px 25px;
    
}

.my_button:hover ~ .reaction{
    display: block;
}

.my_button:active ~ .reaction_two{
    display: block;
}

.my_button:active ~ .reaction{
    display: none;
}


