body{
  background-color: white;
}

#wrapper{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 1024px;
  padding-left: 42px;
  padding-right: 42px;
  background: url("siteBackground.png") repeat-y;
  background-position: center;
}

#center{
  background-color: #7CFC00;
}

#monopoly{
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 800px;
}

#snoop{
  width: auto;
  height: auto;
  max-width: 20%;
  position: absolute;
  bottom: 0px;
}
